{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block title %}Sign In{% endblock %}

{% block style %}
    body {
        text-align: center;
        background-color: #F5F5F5;
    }

    input {
        margin-bottom:20px;
        }

    form {
        display: inline-block;
    }

    a {
        font-size: 14px;
        color: #666666;
    }

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #333333;
    }

    h1 {
        margin: 50px;
        }

    button {
        margin-top: 15px;
    }

    .home {
    text-align: right !important;
    }
{% endblock %}

{% block content %}
<a class="home" href="{% url 'home' %}">بازگشت به صفحه اصلی</a>

<h1>ورود به حساب کاربری</h1>

<form class="login align" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {% bootstrap_form form %}

  {% if redirect_field_value %}
     <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

{% buttons %}
  <button class="primaryAction btn btn-dark" type="submit">ورود</button>
{% endbuttons %}
    <br>
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">فراموشی رمز عبور</a>
    <br>
  <a class="button secondaryAction" href="{% url 'account_signup' %}">عضو نیستید؟ ثبت نام کنید</a>
</form>

{% endblock %}