{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block title %}Reset Password{% endblock %}

{% block style %}
    body {
        text-align: center;
        background-color: #F5F5F5;
    }

    input {
        margin-bottom:20px;
        }

    form {
        display: inline-block;
    }

    a {
        font-size: 14px;
        color: #666666;
    }

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #333333;
    }

    h1 {
        margin: 50px;
    }
{% endblock %}

{% block content %}

    <h1>بازیابی گذرواژه</h1>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>رمز عبورتان را فراموش کردید؟ ایمیل خود را وارد کنید تا یک لینک بازیابی گذرواژه به شما ارسال شود.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" dir="ltr" class="password_reset">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button class="btn btn-dark" type="submit">ارسال</button>
        {% endbuttons %}
    </form>

{% endblock %}