{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block title %}Change Password{% endblock %}

{% block style %}
    body {
        text-align: center;
        background-color: #F5F5F5;
    }

    input {
        margin-bottom:20px;
        }

    form {
        display: inline-block;
    }

    a {
        font-size: 14px;
        color: #666666;
    }

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #333333;
    }

    h1 {
        margin: 50px;
    }
{% endblock %}


{% block content %}
    {% if token_fail %}
        <h1 class="text-danger">توکن اشتباه! </h1>
    {% else %}
        <h1>تغییر گذرواژه{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>این لینک منقضی شده است. لطفا دوباره از طریق <a href="{{ passwd_reset_url }}">این صفحه</a> اقدام به گرفتن لینک فرمایید.</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" dir="ltr">
                {% csrf_token %}
                {% bootstrap_form form %}

                {% buttons %}
                  <button class="btn btn-dark" type="submit">تغییر</button>
                {% endbuttons %}
            </form>
        {% else %}
            <p>گذرواژه شما با موفقیت تغییر کرد.</p>
        {% endif %}
    {% endif %}
{% endblock %}