{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block style %}
    body {
        text-align: center;
        background-color: #F5F5F5;
    }
    
    h1 {
        margin: 50px;
    }
{% endblock %}

{% block content %}
    <h1>بازیابی گذرواژه</h1>
    
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>یک ایمیل حاوی لینک بازیابی گذرواژه به شما ارسال شد. در صورت عدم دریافت با ما تماس بگیرید.</p>
{% endblock %}