{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block title %}Signup{% endblock %}

{% block style %}
   body {
        background-color: #F5F5F5;
    }

    .content {
        text-align: center;
    }

    input {
        margin-bottom:20px;
        }

    form {
        display: inline-block;
    }

    a {
        font-size: 14px;
        color: #666666;
    }

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #333333;
    }

    h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        }

    button {
        margin-top: 15px;
    }

    #id_gender {
        margin-bottom: 15px;
    }
{% endblock %}

{% block header %}
    <a style="text-align: right; margin-right: 10px; padding-top: 10px;" href="{% url 'home' %}">بازگشت به صفحه اصلی</a>
{% endblock %}

{% block content %}
<div class="content">
<h1>ثبت نام</h1>

<form class="signup" dir="rtl" id="signup_form" method="post" action="{% url 'rest_register' %}">
  {% csrf_token %}
  {% bootstrap_form form %}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

{% buttons %}
  <button class="btn btn-dark" type="submit">ثبت نام</button>
{% endbuttons %}
    <br>
<p><a href="{{ login_url }}">قبلا عضو شده‌اید؟ رفتن به صفحه ورود</a></p>
</form>

    <ul id="talk">
    </ul>
</div>
{% endblock %}

{% block js %}<script src="{% static 'js/signup.js' %}"></script>{% endblock %}