black==24.1.1
Django==5.0.1
django-allauth==0.60.1
django-phonenumber-field==7.3.0
dj-rest-auth==5.0.2
djangorestframework==3.14.0
django-bootstrap4==24.1
phonenumbers==8.13.29
Pillow==10.2.0
psycopg2-binary==2.9.9
isort==5.13.2