<!--users/templates/users/dashboard.html-->

{% extends 'base.html' %}
{% block header %}{% endblock %}

{% block content %}
    <h3>Details</h3>

    <ul>
        {% for lesson in lessons %}
            <li>
               <p>{{ lesson.name }}</p>
            </li>
        {% endfor %}
    </ul>
{#<div>#}
{#    {% if user.is_authenticated %}#}
{#        <ul>#}
{#        {% for class in selected_class %}#}
{#            <li>#}
{#               <p>{{ class.name }}</p>#}
{#            </li>#}
{#        {% endfor %}#}
{#        </ul>#}
{##}
{#    {% else %}#}
{#        <a href="{% url 'login' %}">Login</a>#}
{#    {% endif %}#}
{#</div>#}
{% endblock %}