{% extends 'base.html' %}
{% block header %}{% endblock %}

{% block Bootstrap %}
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel-rtl/">
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.rtl.min.css" rel="stylesheet" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.0/examples/carousel/carousel.rtl.css" rel="stylesheet">
{% endblock %}


{% block style %}
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
        }
      }

    .dropdown-item text-danger {
        background: none!important;
        border: none;
        padding: 0!important;
        color: #069;
        text-decoration: underline;
        cursor: pointer;
      }

    .Avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }

    .login {
        margin-right: 25px;
        margin-left:  5px;
    }
{% endblock %}

{% block content %}
{#<div>#}
{#    <ul>#}
{#        {% for category in categories %}#}
{#            <li>#}
{#               <a href=""> {{ category.title }}</a>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#</div>#}


<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">بازار</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="تبديل التنقل">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">فروشگاه</a>
          </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            دسته&zwnj;بندی
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
      </li>
          <li class="nav-item">
              <a class="nav-link" href="#">درباره ما</a>
          </li>
      </ul>

          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="جستجو" aria-label="جستجو">
            <button class="btn btn-outline-primary" type="submit">جستجو</button>
          </form>

        {% if user.is_authenticated %}
          <div class="dropstart">
                <a class="btn  dropdown" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="Avatar " alt="Avatar " src="static/img/home/profile.png">
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li>
                        <p class="dropdown-header"><b>{{ user }}</b></p>
                    </li>
                    <li><a class="dropdown-item " href="">داشبورد</a></li>
                    <li><a class="dropdown-item " href="">پروفایل</a></li>
                    <li><a class="dropdown-item " href="">سبد</a></li>
                    <li>
                        <hr class="dropdown-divider ">
                    </li>
                    <li>
                        <form method="post" action="{% url 'account_logout' %}">
                          {% csrf_token %}
                          {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                          {% endif %}
                          <button class="dropdown-item text-danger" type="submit">خروج</button>
                        </form>
                    </li>

                </ul>
            </div>
          {% else %}
            <a class="login link-light" href="{% url 'account_login' %}">ورود</a>
          {% endif %}

      </div>
    </div>
  </nav>
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/img/home/email.jpg" alt="image" style="width: 100%; height: 100%;">

        <div class="container">
          <div class="carousel-caption text-start text-dark">
            <h1>اطلاع رسانی</h1>
            <p>برای دریافت اخبار جدید ترین محصولات کلیک کنید.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
       <img src="static/img/home/banner.jpg" alt="image" style="width: 100%; height: 100%;">

        <div class="container">
          <div class="carousel-caption">
            <h1></h1>
            <p></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="static/img/home/Books-Banner.jpg" alt="Books-Banner" style="width: 100%; height: 100%;">
        <div class="container">
          <div class="carousel-caption text-start text">
            <h1>محبوب ترین کتاب ها</h1>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">السابق</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">التالي</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>محصول اول</h2>
        <p>توضیحات</p>
        <p><a class="btn btn-secondary" href="#">مشاهده</a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>محصول دوم</h2>
        <p>توضیحات</p>
        <p><a class="btn btn-secondary" href="#">مشاهده</a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>محصول سوم</h2>
        <p>توضیحات</p>
        <p><a class="btn btn-secondary" href="#">مشاهده</a></p>
      </div>
    </div>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-4">
        <h2 class="featurette-heading">خرید آسان</h2>
          <br>
        <p class="lead"> در دوران قرنظینه از بیرون رفتن بیهوده صرف نظر کنید و خرید های خود را به ما بسپارید. تنها با یک کلیک محصولات مورد علاقه خود را سفارش دهید!</p>
      </div>
      <div class="col-md-8">
        <img src="static/img/home/1.png" alt="image" style="width: 860px; height: 500px;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-3 order-md-2">
        <h2 class="featurette-heading">تنوع محصولات</h2>
          <br>
        <p class="lead">از پوشاک و خوراک گرفته تا لپ تاپ و کتاب، همه و همه تو بازار پیدا میشه. جدید ترین محصولات روز با تخفیفای باور نکردنی!!</p>
      </div>
      <div class="col-md-9 order-md-1">
        <img src="static/img/home/2.jpg" alt="image" style="width: 900px; height: 500px;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-4">
        <h2 class="featurette-heading">امنیت</h2>
          <br>
        <p class="lead">بازار تمام تلاشش رو کرده تا اطلاعات کاربرانش در امان باشه، با این وجود اگر هنوز هم به خرید های اینترنتی اعتماد نداری یا نگرانی اطلاعاتت به سرقت بره روی عکس کلیک کن!</p>
      </div>
      <div class="col-md-8">
        <a href="https://separex.ir/blog/%D8%B1%D8%A7%D9%87%DA%A9%D8%A7%D8%B1%D9%87%D8%A7%DB%8C-%D8%AE%D8%B1%DB%8C%D8%AF-%D8%A7%D9%85%D9%86-%D8%A2%D9%86%D9%84%D8%A7%DB%8C%D9%86/"><img src="static/img/home/3.jpg" alt="image" style="width: 860px; height: 500px;"></a>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">بازگشت به بالا</a></p>
    <p> 2021–2020 &copy;  حقوق مطالب، تصاویر و طرح قالب برای سایت بازار محفوظ است.</p>
  </footer>
</main>

{% endblock %}