{% extends 'base.html' %}
{% block header %}{% endblock %}


{% block Bootstrap %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/products.css">
{% endblock %}

{% block title %}Products{% endblock %}

{% block style %}
    .dropdown-item text-danger {
        background: none!important;
        border: none;
        padding: 0!important;
        color: #069;
        text-decoration: underline;
        cursor: pointer;
      }

    .Avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }

    .login {
        margin-right: 25px;
        margin-left:  5px;
    }

    .pagination {
      display: inline-block;
    }

    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd;
    }

{% endblock %}

{% block content %}

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">بازار</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="تبديل التنقل">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'products' %}">فروشگاه</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="#">درباره ما</a>
          </li>
      </ul>

          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="جستجو" aria-label="جستجو">
            <button class="btn btn-outline-primary" type="submit">جستجو</button>
          </form>

          <a href="{% url 'basket' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="white" class="bi bi-cart3" viewBox="0 0 16 16" style="margin-right: 12px;">
                  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
            </a>

        {% if user.is_authenticated %}
          <div class="dropstart">
                <a class="btn  dropdown" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="Avatar " alt="Avatar " src="/static/img/profile.png">
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li>
                        <p class="dropdown-header"><b>{{ user }}</b></p>
                    </li>
                    <li><a class="dropdown-item " href="{% url 'profile' %}">حساب شخصی</a></li>
                    <li>
                        <hr class="dropdown-divider ">
                    </li>
                    <li>
                        <form method="post" action="{% url 'account_logout' %}">
                          {% csrf_token %}
                          {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                          {% endif %}
                          <button class="dropdown-item text-danger" type="submit">خروج</button>
                        </form>
                    </li>

                </ul>
            </div>
          {% else %}
            <a class="login link-light" href="{% url 'account_login' %}">ورود</a>
          {% endif %}

      </div>
    </div>
  </nav>
</header>

<main>
    <div id="content"></div>
    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">دسته&zwnj;بندی</h1>

                <ul class="list-unstyled templatemo-accordion">

                    <form id="myForm">
                        {% for category in categories %}
                            <li>
                            <label>
                                <input type="radio" name="option" value="{{ category }}" onchange="pagination_func('/rest/products_list?category={{ category }}');">
                                {{ category }}
                            </label>
                            </li>
                        {% endfor %}
                        <br>
                        <li>
                            <label>
                                <input type="radio" name="option" value="undefined" checked onchange="pagination_func();">
                                هیچ کدام
                            </label>
                        </li>
                    </form>


{#                        <li class="pb-3">#}
{#                            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">#}
{#                                {{ category }}#}
{#                                <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>#}
{#                            </a>#}
{#                            <ul class="collapse show list-unstyled pl-3">#}
{#                                <li><a class="text-decoration-none" href="#">1</a></li>#}
{#                                <li><a class="text-decoration-none" href="#">2</a></li>#}
{#                            </ul>#}
{#                        </li>#}

                </ul>
            </div>
            <div class="col-lg-9">

                <div class="row">
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <label class="form-label select-label">مرتب‌سازی&nbspبر&nbspاساس:</label>
                            <select class="form-control">
                                <option>جدیدترین</option>
                                <option>ارزان‌ترین</option>
                                <option>گران‌ترین</option>
                                <option>پربازدیدترین</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" id="product_card">
                </div>

                <div class="row" dir="ltr">
                    <div class="pagination" id="pagination">
                    </div>
                </div>
            </div>

        </div>
        <hr class="featurette-divider">
    </div>
    <!-- End Content -->


    <script src="/static/js/templatemo.js"></script>
    <script src="/static/js/pagination.js"></script>


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">بازگشت به بالا</a></p>
    <p> 2021–2020 &copy;  حقوق مطالب، تصاویر و طرح قالب برای سایت بازار محفوظ است.</p>
  </footer>
</main>

{% endblock %}