{% extends 'base.html' %}
{% block header %}{% endblock %}


{% block Bootstrap %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/products.css">
    {#    <link rel="stylesheet" type="text/css" href="assets/css/slick.min.css">#}
    {#    <link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css">#}
{% endblock %}

{% block title %}Product{% endblock %}

{% block style %}
    .dropdown-item text-danger {
        background: none!important;
        border: none;
        padding: 0!important;
        color: #069;
        text-decoration: underline;
        cursor: pointer;
      }

    .Avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }

    .login {
        margin-right: 25px;
        margin-left:  5px;
    }

    .pagination {
      display: inline-block;
    }

    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd;
    }

    body {
      background-color:#e9eef5;
    }

    hr {
      margin-top: 50px;
    }
{% endblock %}

{% block content %}

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">بازار</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="تبديل التنقل">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'products' %}">فروشگاه</a>
              </li>

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                دسته&zwnj;بندی
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  {% for category in categories %}
                    <li><a class="dropdown-item" href="#">{{ category.title }}</a></li>
                  {% endfor %}
              </ul>
          </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">درباره ما</a>
              </li>
          </ul>

              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="جستجو" aria-label="جستجو">
                <button class="btn btn-outline-primary" type="submit">جستجو</button>
              </form>

            {% if user.is_authenticated %}
              <div class="dropstart">
                    <a class="btn  dropdown" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="Avatar " alt="Avatar " src="/static/img/profile.png">
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li>
                            <p class="dropdown-header"><b>{{ user }}</b></p>
                        </li>
                        <li><a class="dropdown-item " href="{% url 'profile' %}">حساب شخصی</a></li>
                        <li><a class="dropdown-item " href="{% url 'basket' %}">سبد</a></li>
                        <li>
                            <hr class="dropdown-divider ">
                        </li>
                        <li>
                            <form method="post" action="{% url 'account_logout' %}">
                              {% csrf_token %}
                              {% if redirect_field_value %}
                              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                              {% endif %}
                              <button class="dropdown-item text-danger" type="submit">خروج</button>
                            </form>
                        </li>

                    </ul>
                </div>
              {% else %}
                <a class="login link-light" href="{% url 'account_login' %}">ورود</a>
              {% endif %}

          </div>
        </div>
      </nav>
    </header>

    <main>
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="/{{ product.image.first.image }}" alt="Card image cap" id="product-detail">
                    </div>
                    <div class="row">
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="dark" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                  <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                </svg>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        {% for item in product.image.all %}
                                            {% if forloop.counter <= 3 %}
                                                <div class="col-4">
                                                    <a href="#">
                                                        <img class="card-img img-fluid" src="/{{ item.image }}" alt="Product Image 1">
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>
                                <!--/.First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        {% for item in product.image.all %}
                                            {% if forloop.counter > 3 %}
                                                <div class="col-4">
                                                    <a href="#">
                                                        <img class="card-img img-fluid" src="/{{ item.image }}" alt="Product Image 4">
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}


                                    </div>
                                </div>
                                <!--/.Second slide-->
                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="dark" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                  <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                </svg>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{ product.title }}</h1>
                            <p class="h3 py-2">{{ product.price }} تومان</p>
                            <p class="py-2">
                                <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
                            </p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>فروشنده:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.seller }}</strong></p>
                                </li>
                            </ul>

                            <h6>توضیحات:</h6>
                            <p>{{ product.description }}</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>موجودی در انبار:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text"><strong>{{ product.count }}</strong></p>
                                </li>
                            </ul>

                            <form action="" method="GET">
                                <input type="hidden" name="product-title" value="Activewear">
                                <div class="row">
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item text-right">
                                                تعداد
                                                <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-primary" id="btn-minus">-</span></li>
                                            <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">1</span></li>
                                            <li class="list-inline-item"><span class="btn btn-primary" id="btn-plus">+</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-primary btn-lg" name="submit" value="buy">خرید</button>
                                    </div>
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-primary btn-lg" name="submit" value="addtocard">افزودن به سبد</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <hr class="featurette-divider">
        </div>
    </section>
    <!-- Close Content -->

    <script src="/static/js/templatemo.js"></script>
    <script src="/static/js/pagination.js"></script>


    <!-- FOOTER -->
    <footer class="container">
        <p class="float-end"><a href="#">بازگشت به بالا</a></p>
        <p> 2021–2020 &copy;  حقوق مطالب، تصاویر و طرح قالب برای سایت بازار محفوظ است.</p>
    </footer>
</main>

{% endblock %}
